* {
  margin: 0;
  padding: 0;
}
html,
body {
  box-sizing: border-box;
  font-family: "Merriweather", serif;
  color: #fff;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background-color: #1e1d1b;
}
nav h2 {
  color: #d3a22e;
  font-size: 30px;
}
.divider{
    border: 2px solid #d3a22e;
    width: 300px;
    margin: auto;
    position: relative;
    z-index: 1;
}
a{
  text-decoration: none;
  color: #fff;
}

nav ul {
  list-style-type: none;
  display: flex;
  gap: 30px;
  font-size: 15px;
  padding-right: 130px;
}
nav li{
    cursor: pointer;
}

.header {
  background-image: url("../images/header.jpg");
}
footer{
    background-image: url('../images/footer.jpg');
}
.header,
footer {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding-top: 100px;
}
.header::after,
.showcase-item::after,
footer::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  background-color: rgba(0, 0, 0, 0.5);
}
.header-title {
  border-top: 2px solid #d3a22e;
  border-bottom: 2px solid #d3a22e;
}
.header-title,
.footer-title {
  padding: 20px 40px;
  max-width: 40%;
  margin: 0 auto 20px auto;
  text-align: center;
  position: relative;
  z-index: 1;
}
.header-title h1,
.footer-title h1 {
  font-size: 50px;
  font-weight: 200;
  letter-spacing: 20px;
  text-align: center;
}
.header-title p {
  font-size: 15px;
  margin-top: 10px;
}
.header-content,
.footer-content {
  text-align: center;
  line-height: 30px;
  padding-bottom: 100px;
  position: relative;
  z-index: 1;
}
#section-one,
#contact-us {
  background-color: #1e1d1b;
}
.section-one-wrapper {
  max-width: 600px;
  margin: auto;
  padding: 100px 0px;
  text-align: center;
}
.section-one-wrapper h2 {
  font-size: 35px;
  letter-spacing: 8px;
  font-weight: 300;
  line-height: 2em;
}
.section-one-wrapper p {
  line-height: 1.3em;
  font-size: 15px;
  padding-bottom: 20px;
}
.section-one-wrapper button,
.submit {
  padding: 15px 30px;
  background: transparent;
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
}
#showcase {
  display: flex;
  flex-wrap: wrap;
}
#showcase > div {
  width: 50%;
}
.showcase-item img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}
.showcase-item {
  position: relative;
  overflow: hidden;
}
.showcase-item-content {
  position: absolute;
  top: 40%;
  text-align: center;
  width: 100%;
}
.showcase-item-content h2 {
  padding: 15px;
  font-weight: 300;
  position: relative;
  z-index: 1;
  letter-spacing: 10px;
}
.divider-lg {
  border: 2px solid #d3a22e;
  width: 90px;
  margin: auto;
  position: relative;
  z-index: 1;
}
.showcase-item img:hover {
  transform: scale(1.2);
}
#contact-us {
  padding: 100px;
}
#contact-us h2 {
  font-size: 35px;
  letter-spacing: 11px;
  font-weight: 200;
  text-align: center;
}
.form-group {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
input,
textarea {
  background: transparent;
  border: none;
  border-bottom: 1px solid #d3a22e;
  outline: none;
  font-size: 15px;
  padding: 10px 0px;
  margin-bottom: 20px;
  width: 400px;
}
label {
  color: transparent;
}
input::placeholder,
textarea::placeholder {
  font-size: 13px;
  line-height: 1.3em;
  text-align: center;
}

#contact-us h2{
  padding-top: 30px;
}